body{

    font-family: 'Kanit', sans-serif;
    font-weight: 300;

}

.container{

    height: auto;
    width: auto;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "main main"
    "footer footer";

}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: nav;
    height: 10vh;
    width: 100%;
    background-image: url("../img/fondo-footer-nav.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;

}

nav img{

    height: 70px;
    width: 70px;
    margin-left: 20px;
    animation-name: logo-up;
    animation-duration: 2s;
}

@keyframes logo-up{

    from{

        transform: translateY(100vh);

    }

    to{

        transform: translateY(0px);


    }
}

nav ul{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 500;
    color: white;
    font-size: 1em;

}

nav ul li a{

    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    
}

nav ul li{

    transition: all 0.2s;
}

nav ul li:hover{

    transform: scale(1.2);
}

main{

    grid-area: main;
    height: 80vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 40px;
    padding: 0px 30px;
    overflow-y: scroll;

}

.grid-item{

    cursor: pointer;
    transition: all 0.4s;
    filter: grayscale(1);
    animation-name: path;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

@keyframes path{

    from{

        clip-path: circle(0% at 50% 50%);

    }

    to{

        clip-path: circle(50% at 50% 50%);

    }
}

.grid-item:hover{

    transform: scale(1.2);
    filter: contrast(1.2);
    
}


.grid-item img{

    height: 100%;
    width: 100%;
    object-fit: fill;
}



footer{

    grid-area: footer;
    background-image: url("../img/fondo-footer-nav.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 10vh;

}

footer ul{

    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}


footer ul li a{

    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;

}

footer ul li{

    transition: all 0.2s;

}

footer ul li:hover{

    transform: scale(1.3);
}

@media (min-width: 576px){

    .container{

        grid-template-areas: 
        "nav main main"
        "nav main main"
        "footer footer footer";
    }

    nav{

        flex-direction: column;
        justify-content: none;
        height: 90vh;
        width: 13rem;
    
    }

    nav img{

        height: 150px;
        width: 150px;
        margin-left: 0px;
    }

    nav ul{

        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        animation-name: logo-up;
        animation-duration: 2s;

    }

    nav ul li a{

        font-size: 1.3em;

    }

    main{

        height: 90vh;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
        padding: 0px 70px;
    
    }

    footer ul li a{

        font-size: 1.3rem;
    
    }



}


